@model Mottracker.Application.Dtos.Usuario.UsuarioResponseDto

@{
    ViewData["Title"] = "Detalhes do Usu치rio";
}

<h1>Detalhes</h1>

<div>
    <h4>Usu치rio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome do Usu치rio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeUsuario)
        </dd>
        <dt class="col-sm-2">
            Email do Usu치rio
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdUsuario" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>
