@model Mottracker.Application.Dtos.UsuarioPermissao.UsuarioPermissaoRequestDto

@{
    ViewData["Title"] = "Editar Usuário Permissão";
}

<h1>Editar</h1>

<h4>Usuário Permissão</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="UsuarioPermissaoUsuarioId" class="control-label">ID do Usuário</label>
                <input asp-for="UsuarioPermissaoUsuarioId" class="form-control" type="number" />
                <span asp-validation-for="UsuarioPermissaoUsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="UsuarioPermissaoPermissaoId" class="control-label">ID da Permissão</label>
                <input asp-for="UsuarioPermissaoPermissaoId" class="form-control" type="number" />
                <span asp-validation-for="UsuarioPermissaoPermissaoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
