@model Mottracker.Application.Dtos.Camera.CameraRequestDto

@{
    ViewData["Title"] = "Editar Câmera";
}

<h1>Editar</h1>

<h4>Câmera</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="NomeCamera" class="control-label">Nome da Câmera</label>
                <input asp-for="NomeCamera" class="form-control" />
                <span asp-validation-for="NomeCamera" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="IpCamera" class="control-label">IP da Câmera</label>
                <input asp-for="IpCamera" class="form-control" />
                <span asp-validation-for="IpCamera" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Status" class="control-label">Status</label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<Mottracker.Domain.Enums.CameraStatus>()">
                    <option value="">Selecione o Status</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PosX" class="control-label">Posição X</label>
                <input asp-for="PosX" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="PosX" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PosY" class="control-label">Posição Y</label>
                <input asp-for="PosY" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="PosY" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PatioId" class="control-label">Pátio</label>
                <input asp-for="PatioId" class="form-control" type="number" />
                <span asp-validation-for="PatioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
